*
{
    margin: 0px;
}
.container
{
    max-width:1200px;
    margin: auto;

}
nav
{
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
    align-items: center;
}
.list
{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
a{
    text-decoration: none;
     color: #575757;
}
.cmn-btn
{
    background-color: rgb(29, 78, 216);
    color:white;
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
    margin: 10px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
